.dimage {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.image-title {
    text-align: center;
    font-style: italic;
    color: #444;
}

.titleimg {
    /* font-size: 32px; */
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #602e9e;
}

.footernew {
    padding: 10px;
    background-color: #602e9e;
    /* height: 100px; */

    /* Ensure full width and visibility */
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    color: #aa97c2;
}

.footernew a {
    color: #ffffff;
}

.footernew a:hover {
    color: #0c0219;
}

.custom-row {
    display: flex;
    flex-wrap: nowrap;
    /* Prevent wrapping */
    overflow-x: auto;
    /* Horizontal scroll */
    gap: 10px;
    padding-bottom: 20px;
}

.singleimage {
    width: 100%;
    /* Fill the col-3 container */
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.singleimage:hover {
    transform: scale(1.05);
}

.gallery-image-wrapper {
    position: relative;
}

.magnifier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 20%;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.gallery-image-wrapper:hover .magnifier {
    opacity: 1;
}

/* Modal */
.image-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.image-popup::after {
    content: "×";
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}